In [ ]:
#we install mongo db community server in the PC
#https://www.mongodb.com/try/download/community?tck=docs_server

#we install mongodb connection module for python
#!pip install pymongo

In [1]:
#importing python libraries and modules

#libraries & modules
import pandas as pd #library for dataframes 
import warnings #library to manage warnings
import pymongo
from pymongo import MongoClient

warnings.filterwarnings('ignore')

### Exercici 1 (Nivell 1)
#### Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica.

### Exercici 2 (Nivell 1)
#### Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo.

In [2]:
#we create the database in the server and connect to python using pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
musicdb = myclient["musicdatabase"]
musicdb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'musicdatabase')

In [3]:
#we create a collection (it is similar to a table in SQL) 
mycol = musicdb["albums"]

#we insert a document (JSON like) into the collection. A document in MongoDB is the same as a record in SQL databases.
albumdata = { "title": "Enchantment", "composer": "Chris Spheeris & Paul Voudouris", "duration": "49:15", "year":1992}
x = mycol.insert_one(albumdata)
print(x)

<pymongo.results.InsertOneResult object at 0x00000264305621C0>

In [4]:
#we print the database to check that it exists
dblist = myclient.list_database_names()
if "musicdatabase" in dblist:
  print("The database exists.")

#we print the collections to check that it exists
collist = musicdb.list_collection_names()
if "albums" in collist:
  print("The collection exists.")

The database exists.
The collection exists.

In [5]:
#we insert several documents
albumlist = [
    {"title": "Échate un cantecito", "composer": "Kiko Veneno", "duration": "43:33", "year":1992},
    {"title": "Silk Road", "composer": "Kitaro", "duration": "55:32", "year":1984},
    {"title": "19 días y 500  noches", "composer": "Joaquín Sabina", "duration": "52:24", "year":1999}
]
y = mycol.insert_many(albumlist)
print(y.inserted_ids)

[ObjectId('627e803382408d167474ef6c'), ObjectId('627e803382408d167474ef6d'), ObjectId('627e803382408d167474ef6e')]

In [6]:
#it returns all documents from the collection
for x in mycol.find():
  print(x)

{'_id': ObjectId('627e801482408d167474ef6b'), 'title': 'Enchantment', 'composer': 'Chris Spheeris & Paul Voudouris', 'duration': '49:15', 'year': 1992}
{'_id': ObjectId('627e803382408d167474ef6c'), 'title': 'Échate un cantecito', 'composer': 'Kiko Veneno', 'duration': '43:33', 'year': 1992}
{'_id': ObjectId('627e803382408d167474ef6d'), 'title': 'Silk Road', 'composer': 'Kitaro', 'duration': '55:32', 'year': 1984}
{'_id': ObjectId('627e803382408d167474ef6e'), 'title': '19 días y 500  noches', 'composer': 'Joaquín Sabina', 'duration': '52:24', 'year': 1999}

In [7]:
#it returns data except for id
for x in mycol.find({},{ "_id": 0}):
  print(x)

{'title': 'Enchantment', 'composer': 'Chris Spheeris & Paul Voudouris', 'duration': '49:15', 'year': 1992}
{'title': 'Échate un cantecito', 'composer': 'Kiko Veneno', 'duration': '43:33', 'year': 1992}
{'title': 'Silk Road', 'composer': 'Kitaro', 'duration': '55:32', 'year': 1984}
{'title': '19 días y 500  noches', 'composer': 'Joaquín Sabina', 'duration': '52:24', 'year': 1999}

In [8]:
#find data using a query (by year)
dataquery = { "year": 1992 }
yearfilter = mycol.find(dataquery)

for x in yearfilter:
  print(x)

{'_id': ObjectId('627e801482408d167474ef6b'), 'title': 'Enchantment', 'composer': 'Chris Spheeris & Paul Voudouris', 'duration': '49:15', 'year': 1992}
{'_id': ObjectId('627e803382408d167474ef6c'), 'title': 'Échate un cantecito', 'composer': 'Kiko Veneno', 'duration': '43:33', 'year': 1992}

In [9]:
#sorting data (by year)
yearsorted = mycol.find().sort("year")

for x in yearsorted:
  print(x)

{'_id': ObjectId('627e803382408d167474ef6d'), 'title': 'Silk Road', 'composer': 'Kitaro', 'duration': '55:32', 'year': 1984}
{'_id': ObjectId('627e801482408d167474ef6b'), 'title': 'Enchantment', 'composer': 'Chris Spheeris & Paul Voudouris', 'duration': '49:15', 'year': 1992}
{'_id': ObjectId('627e803382408d167474ef6c'), 'title': 'Échate un cantecito', 'composer': 'Kiko Veneno', 'duration': '43:33', 'year': 1992}
{'_id': ObjectId('627e803382408d167474ef6e'), 'title': '19 días y 500  noches', 'composer': 'Joaquín Sabina', 'duration': '52:24', 'year': 1999}

### Exercici 1 (Nivell 2)
#### Carrega algunes consultes senzilles a un Pandas Dataframe.

In [10]:
#we query all data to put it inside a dataframe
allalbums = musicdb["albums"].find()
albums_df =  pd.DataFrame(list(allalbums))
albums_df

,_id,title,composer,duration,year
0,627e801482408d167474ef6b,Enchantment,Chris Spheeris & Paul Voudouris,49:15,1992
1,627e803382408d167474ef6c,Échate un cantecito,Kiko Veneno,43:33,1992
2,627e803382408d167474ef6d,Silk Road,Kitaro,55:32,1984
3,627e803382408d167474ef6e,19 días y 500 noches,Joaquín Sabina,52:24,1999

In [11]:
#we query albums by year to put it inside a dataframe
dataquery = { "year": 1992 }
albums92 = musicdb["albums"].find(dataquery)
albums92_df =  pd.DataFrame(list(albums92))
albums92_df

,_id,title,composer,duration,year
0,627e801482408d167474ef6b,Enchantment,Chris Spheeris & Paul Voudouris,49:15,1992
1,627e803382408d167474ef6c,Échate un cantecito,Kiko Veneno,43:33,1992

In [12]:
#after testing we delete all documents
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [14]:
#dafter testing we delete the collection
y = mycol.drop()

### Exercici 1 (Nivell 3)
#### Genera un resum estadístic de la informació que conté la base de dades.

In [15]:
#we can use the pandas methods to obtain information from the database
albums_df.head()

,_id,title,composer,duration,year
0,627e801482408d167474ef6b,Enchantment,Chris Spheeris & Paul Voudouris,49:15,1992
1,627e803382408d167474ef6c,Échate un cantecito,Kiko Veneno,43:33,1992
2,627e803382408d167474ef6d,Silk Road,Kitaro,55:32,1984
3,627e803382408d167474ef6e,19 días y 500 noches,Joaquín Sabina,52:24,1999

In [16]:
albums_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       4 non-null      object
 1   title     4 non-null      object
 2   composer  4 non-null      object
 3   duration  4 non-null      object
 4   year      4 non-null      int64
dtypes: int64(1), object(4)
memory usage: 288.0+ bytes

In [17]:
albums_df.describe()

              year
count     4.000000
mean   1991.750000
std       6.130525
min    1984.000000
25%    1990.000000
50%    1992.000000
75%    1993.750000
max    1999.000000